@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode.ttf");
}

* {
  font-family: "Cascadia Code", monospace;
}

* {
  scrollbar-width: 0;
}

body {
  background-color: transparent;
}

#ascii {
  white-space: pre;
}

#banner {
  white-space: pre-wrap;
}

main > div:not(#modal) > div:first-child {
  display: none;
}

#input {
  margin-top: 24px;
}

.buttons-row {
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
}

.whitespace-pre {
  white-space: pre-wrap;
}

.link {
  color: #828282;
  text-decoration: underline;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: none;
}

::-webkit-scrollbar-thumb:hover {
  background: none;
}

.apply-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
  gap: 12px;
  width: 270px;
}

.apply-form > label {
  color: var(--green);
}

.apply-form > p {
  color: var(--green);
}

.apply-input {
  padding: 4px 12px;
  background: transparent;
  border: 1px solid var(--green);
  margin-bottom: 12px;
}

.apply-submit {
  padding: 4px 12px;
  background: transparent;
  color: var(--green);
  border: 1px solid var(--green);
  margin-top: 12px;
  margin-bottom: 24px;
}

.link {
  color: var(--green);
}

.theme-list {
  white-space: pre-wrap !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  filter: brightness(1.5);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .apply-form {
    flex-direction: column;
  }

  main {
    padding: 1rem !important;
  }

  .whitespace-pre {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  #ascii {
    font-size: 2.2vw;
    line-height: 1.5;
  }
}
